@import "../Utils/variables";
@import "../Utils/mixins";

.info {
  display: flex;
  text-align: center;
  flex-direction: column;
  background-color: $color-grey;
  padding-bottom: 64px;
  & h1 {
    margin-top: 32px;
    margin-bottom: 0;
    font-size: 25.6px;
  }
  & p {
    font-size: 16px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
  }
  & button {
    @include button;
    @include box-shadow;
    @media (min-width: 995px) {
      width: 25%;
    }
  }
  & button:hover {
    @include hover-button;
  }
}